<div class="list">
    <div class="employees">
      <h2>Employees List</h2>
      <ul>
        <li
          *ngFor="let employee of employees; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveEmployee(employee, i)"
        >
          {{ employee.fullname }}
        </li>
      </ul>
    </div>
    <div class="details">
      <div *ngIf="currentEmployee">
        <h2>Employee Details</h2>
        <div>
          <label><strong>Fullname:</strong></label> {{ currentEmployee.fullname }}
        </div>
        <div>
          <label><strong>Function:</strong></label>
          {{ currentEmployee.function }}
        </div>
        <div>
            <label><strong>Employees in charge:</strong></label>
            <ul>
                <li
                  *ngFor="let employee of currentEmployee.employees"
                >
                  {{ employee.fullname }}
                </li>
              </ul>
        </div>

        <a routerLink="/{{ currentEmployee.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentEmployee">
        <br />
        <p>Please click on a Employee...</p>
      </div>
    </div>
  </div>
