.list {
  text-align: left;
  max-width: 50vw;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 rgb(50 50 50 / 30%);
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  font-family: 'Dtl Argo', Helvetica;
  color: #435168;
  transition: all 1s ease;
}

.employees ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.employees ul li{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #002c76;
    padding: 2vh 2vw;
    position: relative;
    border: 1px solid rgb(50 50 50 / 30%);
    margin-top: 0.5em;
}

.employees> ul li.active, .employees> ul li:hover {
    box-shadow: 2px 2px 2px 1px #e72f35;
    cursor: pointer;
}

